{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-4">
    {% for post in post_list %}
    <div class="post mb-4">
        <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <div class="date text-muted">
            <p>Published on: {{ post.published|date:"D M Y" }}</p>
        </div>
        <a href="{% url 'blog:post_detail' pk=post.pk %}" class="btn btn-secondary">
            Comments: {{ post.approve_comments.count }}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
